#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
/ {
    keymap {
        compatible = "zmk,keymap";

                default_layer {
            bindings = <
              &kp ESC &kp C_PREV &kp C_PP &kp C_NEXT &kp C_MUTE
            >;
            ssensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };
    };
};
