#include <dt-bindings/zmk/matrix_transform.h>

/ {
    encoder: encoder {
		    compatible = "alps,ec11";
		    label = "ENCODER";
		    a-gpios = <&gpio1 1 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
        	    b-gpios = <&gpio1 2 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
		    resolution = <4>;
		    status = "okay";
	   };
	   
	   encoder {
    status = "okay";
	};
  };
